/* змінні */

:root {
  --color-main: #ffffff;
  --color-accent: #2196f3;
  --color-logo: #000000;

  --text-color-main: #757575;
  --text-color-secondary: #212121;
  --text-color-contact: rgba(255, 255, 255, 0.6);

  --bgn-color-light: #f5f4fa;
  --bgn-color-dark: #2f303a;
  --bgn-color-hero: #c4c4c4;
  --bgn-color-label: rgba(47, 48, 58, 0.8);
  --bgn-color-overlay: rgba(33, 150, 243, 0.9);
  --bgn-color-backdrop: rgba(0, 0, 0, 0.2);

  --border-card-color: #eeeeee;
  --border-modal-close-color: rgba(0, 0, 0, 0.1);
  --border-input-color: rgba(255, 255, 255, 0.3);
  --border-modal-input-color: rgba(33, 33, 33, 0.2);

  --btn-color-accent: #188ce8;
  --line-header-color: #ececec;
  --icon-color: #afb1b8;
  --socials-color: rgba(255, 255, 255, 0.1);
  --placeholder-color: rgba(117, 117, 117, 0.5);

  --shadow-button-color: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-card-color: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-filter-color: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-portfolio-color: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* глобальні стилі */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  background-color: var(--color-main);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color-secondary);
  background-color: var(--bgn-color-light);
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--color-main);
  background-color: var(--color-accent);
  box-shadow: var(--shadow-filter-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

/* хедер */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--line-header-color);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

.list-nav {
  display: flex;
  gap: 50px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo);
}

.page-link,
.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-link {
  color: var(--text-color-secondary);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav-item {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -29px;
  left: 0;
  background-color: var(--color-accent);
  border-radius: 2px;
}

.header-contact {
  display: flex;
  gap: 50px;
}

.logo-accent,
.current,
.page-link:hover,
.page-link:focus,
.contact-footer:hover,
.contact-footer:focus {
  color: var(--color-accent);
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  fill: var(--text-color-main);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover,
.contact-item:focus {
  fill: var(--color-accent);
  color: var(--color-accent);
}

/* герой */

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bgn-color-hero);
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/section-hero/hero-image-bgn.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-hero {
  text-align: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-main);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.main-btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-main);
  background-color: var(--color-accent);
  padding: 10px 32px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--btn-color-accent);
  box-shadow: var(--shadow-button-color);
}

/* наші переваги */

.benefit-list {
  display: flex;
  justify-content: space-between;
}

.item-benefit {
  width: 270px;
}

.benefit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--bgn-color-light);
  border-radius: 4px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-secondary);
  margin-bottom: 10px;
}

/* чим ми займаємося */

.section-work {
  padding-top: 0;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-color-secondary);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.box-label {
  position: relative;
}

.label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-main);
  background-color: var(--bgn-color-label);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* наша команда */

.section-team {
  background-color: var(--bgn-color-light);
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-card {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-main);
  box-shadow: var(--shadow-card-color);
}

.box-team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.subtitle-team {
  font-weight: 500;
  color: var(--text-color-secondary);
  margin-bottom: 10px;
}

.subtitle-team,
.desc-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.desc-team {
  margin-bottom: 16px;
}

.social-link-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:hover,
.social-link-item:focus {
  fill: var(--color-main);
  background-color: var(--color-accent);
}

/* постійні клієнти */

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover,
.link-clients:focus,
.link-clients:hover .icon-clients,
.link-clients:focus .icon-clients {
  border-color: var(--color-accent);
  fill: var(--color-accent);
}

/* футер */

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgn-color-dark);
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.section-footer .logo,
.address-footer {
  color: var(--color-main);
}

.address {
  font-style: inherit;
}

.address-list {
  margin-top: 20px;
}

.address-list > li:not(:first-child) {
  margin-top: 9px;
}

.contact-footer {
  color: var(--text-color-contact);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.call-to-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 20px;
}

.social-link {
  fill: var(--color-main);
  background-color: var(--socials-color);
}

.section-footer .social-link-item {
  transition-property: background-color;
}

.subscribe-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-main);
  display: block;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  color: var(--color-main);
  background-color: transparent;
  border: 1px solid var(--border-input-color);
  filter: drop-shadow var(--shadow-button-color);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
  border: 1px solid var(--color-accent);
}

.subscribe-input::placeholder {
  line-height: 1.25;
  color: var(--text-color-contact);
}

.form-btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-main);
  background-color: var(--color-accent);
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--btn-color-accent);
  box-shadow: var(--shadow-button-color);
}

.icon-send {
  fill: var(--color-main);
}

/*портфоліо */

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: var(--shadow-portfolio-color);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.53;
  color: var(--color-main);
  background-color: var(--bgn-color-overlay);
  padding: 63px 24px;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .text-overlay {
  transform: translateY(0);
}

.project-card {
  background-color: var(--color-main);
  border-right: 1px solid var(--border-card-color);
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
  padding: 20px 24px;
}

.title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-secondary);
  margin-bottom: 4px;
}

.desc-portfolio {
  font-size: 16px;
  line-height: 1.88;
}

/* модалка */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  scale: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgn-color-backdrop);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--color-main);
  box-shadow: var(--shadow-card-color);
  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-modal-close-color);
  background-color: var(--color-main);
  fill: var(--color-logo);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: transparent;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--color-accent);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-color-secondary);
  margin-bottom: 12px;
}

.modal-wrap {
  position: relative;
  display: flex;
  align-items: center;
  outline: transparent;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-modal-input-color);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  cursor: pointer;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrap:hover .modal-input,
.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--color-accent);
}

.area-input {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  display: block;
}

.area-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.icon-modal {
  position: absolute;
  left: 12px;
  fill: var(--text-color-secondary);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrap:hover .icon-modal,
.modal-input:focus + .icon-modal {
  fill: var(--color-accent);
}

.box-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.input-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.castom-checkbox {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--text-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-checkbox:checked + .checkbox-label .castom-checkbox {
  background-color: var(--color-accent);
  border: var(--color-accent);
}

.icon-check {
  fill: var(--color-main);
  opacity: 0;
}

.input-checkbox:checked + .checkbox-label .icon-check {
  opacity: 1;
}

.link-contract {
  color: var(--color-accent);
}
